@use './variables' as *;

//* Availability animation
@keyframes slide-availability-start {
  0% {
    transform: translateX(-140px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide-availability-end {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-140px);
  }
}

//* Availability general elements
.availability {
  position: fixed;
  top: 20%;
  z-index: 5;
  color: $white;

  &__icon {
    cursor: pointer;
  }
  &__icon--max {
    width: 140px;
    height: 50px;
    background-color: $black;
    cursor: pointer;
  }
  &--off {
    visibility: hidden;
    animation: slide-availability-end 0.2s ease-out;
    transition: visibility 0.2s;
    background-color: $black;
  }
  &--on {
    @include setFlex(column);
    visibility: visible;
    min-width: 140px;
    background-color: $black;
    animation: slide-availability-start 0.2s ease-out;
    padding-bottom: 15px;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }
    li {
      padding-top: 15px;
      cursor: pointer;
      font-weight: 600;
    }
  }
  @media all and (width <= 510px) {
    display: none;
  }
}
