@use '../scss/variables' as *;

body {
  overflow: visible;
}

.main-blogPage {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
  max-width: $maxWidth;
  @include setFlex(column);

  &__title {
    width: 100%;
    font-size: 38px;
    margin-bottom: 60px;

    span {
      color: $yellow;
    }
  }

  &__separation {
    width: 100%;
    grid-column: span 2;
    @media all and (width <= 840px) {
      grid-column: 1;
    }

    h1 {
      font-size: 38px;
    }
    span {
      color: $yellow;
    }
    &--border {
      width: 100%;
      border: $yellow solid 1px;
    }
  }
  &__return {
    margin-top: 20px;
    min-height: 40px;
    min-width: 180px;
    @extend %buttonGeneral;
    @include setFlex(row);
    gap: 10px;
    font-size: 18px;
    align-self: flex-end;

    &::after {
      content: url(/Arrow.png);
      scale: 0.8;
    }
    &:hover {
      transform: scale(1.08);
    }
  }
  &__container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media all and (width <= 840px) {
      grid-template-columns: 1fr;
    }
    column-gap: 80px;
    row-gap: 40px;
  }
  &__item,
  &__item a {
    width: 100%;
    @include setFlex(row, flex-start, none);
    gap: 40px;
    transition: 0.4s;

    &:hover {
      transform: scale(1.05);
    }
    h2,
    div {
      @include setClamp(2);
    }
    .znizki {
      @include setClamp(4);

      p {
        margin: 0px;
      }
    }
    img {
      object-fit: contain;
    }
  }
  .Dokumenty {
    width: 100px;
    height: auto;
  }
  @media all and (width <= 400px) {
    &__container {
      margin: auto;
      width: 95%;
    }
    &__item,
    &__item a {
      flex-wrap: wrap;

      img {
        width: 100%;
        height: auto;
      }
      &:hover {
        transform: scale(1);
      }
    }
    &__title {
      font-size: 28px;
      text-align: center;
    }
  }
}
