@use './main.scss' as *;
@use './variables' as *;
@use './header.scss' as *;
@use './availability.scss' as *;
@use './aktualnosci.scss' as *;
@use './footer.scss' as *;
@use './technikum.scss' as *;
@use './kierunki.scss' as *;
@use './liceum.scss' as *;
@use './szkola.scss' as *;
@use './rekrutacja.scss' as *;
@use './stowarzyszenie.scss' as *;
@use './samorzad.scss' as *;
@use './blog.scss' as *;
@use './post.scss' as *;
@use './slider.scss' as *;

//* General Settings
body {
  margin: 0px;
  z-index: 2;
}
a {
  color: inherit;
  position: relative;
  text-decoration: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

//* Scrollbar
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background: #6f6f6f;
}
::-webkit-scrollbar-thumb:hover {
  background: #202020;
}

//* Special link style
.Link {
  font-weight: 700;
  text-decoration: underline;
  color: $link;
  display: flex;
  align-items: center;

  &::after {
    content: '↵';
  }
}

//* Darkness in menu
.darknes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a0;
  z-index: 4;
  transition: 0.5s;
}

//* Header backgraund
.headerbg {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  min-height: 120px;
  z-index: 3;
}

//* Availability class
.contrast-mode {
  text-shadow: 1px 1px 1px $black;
  color: #0000ff;

  span {
    color: #0000ff;
  }
  .main-page__description {
    color: $white;
  }
}
.font-up-mode {
  p,
  li,
  h1,
  h2,
  h3 {
    transform: scale(1.1);
  }
}
.links-underline a {
  color: $link;
  text-decoration: underline;
}

//* Error 404
.error {
  width: 100%;
  height: 82vh;
  @include setFlex(column);
  gap: 100px;

  h1 {
    font-size: 64px;
    transform: rotate(15deg);
  }
  h3 {
    font-size: 32px;
    transform: rotate(-5deg);
  }
  span {
    color: $yellow;
  }
  @media all and (width <= 430px) {
    h1 {
      font-size: 38px;
      transform: rotate(0deg);
    }
    h3 {
      font-size: 28px;
      transform: rotate(0deg);
    }
  }
}
