@use './variables' as *;

body {
  overflow: visible;
}

//* Main
.container {
  .main-header {
    margin: auto;
    margin-top: 120px;
    max-width: $maxWidth;
    height: auto;
    @include setFlex(column);
    font-size: 25px;
  }
  span {
    color: $yellow;
  }
  .main-container {
    padding-top: 50px;
    height: auto;
    max-width: $maxWidth;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2%;
    border-top: solid 3px $yellow;
    border-bottom: solid 3px $yellow;
    padding-bottom: 5%;
    img {
      object-fit: cover;
    }
  }
  .main-names {
    margin: auto;
    margin-top: 50px;
    max-width: $maxWidth;
    height: auto;
    @include setFlex(column);
    font-size: 20px;
    border-left: solid 3px $yellow;
    border-right: solid 3px $yellow;
    padding-bottom: 25px;
    margin-bottom: 3%;
    h2 {
      margin-bottom: 0px;
    }
  }
  .main-guards-title {
    padding-top: 5%;
    height: auto;
    max-width: $maxWidth;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2%;
    border-top: solid 3px $yellow;
    border-bottom: solid 3px $yellow;
    font-size: 25px;
    img {
      object-fit: cover;
    }
  }
  .main-guards {
    margin: auto;
    margin-top: 50px;
    max-width: $maxWidth;
    height: auto;
    @include setFlex(row);
    font-size: 20px;
    padding-bottom: 25px;
    margin-bottom: 3%;
    gap: 5%;
    border-bottom: solid 3px $yellow;
    h2 {
      margin-bottom: 0px;
      text-align: center;
    }
  }
  .main-discounts {
    margin: auto;
    margin-top: 50px;
    max-width: $maxWidth;
    height: auto;
    @include setFlex(column);
    font-size: 20px;
    padding-bottom: 25px;
    margin-bottom: 3%;
    padding-bottom: 5%;
    border-bottom: solid 3px $yellow;
    h2 {
      margin-bottom: 0px;
      text-align: center;
    }
    &__button {
      margin: auto;
      width: 38vw;
      min-height: 65px;
      font-size: 31px;
      margin-top: 5%;
      @extend %buttonGeneral;

      span {
        color: $yellow;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .main-footer {
    margin: auto;
    margin-top: 5%;
    max-width: $maxWidth;
    height: auto;
    @include setFlex(column);
    font-size: 25px;
    margin-bottom: 5%;
  }
  h3 {
    margin-top: 10%;
  }
  h4 {
    text-align: center;
    margin: 1%;
  }

  //* Media query
  @media all and (width <= 1360px) {
    .main-container {
      flex-wrap: wrap;
    }
    .main-guards {
      flex-wrap: wrap;
    }
    .main-footer img {
      width: 100%;
      height: auto;
    }
    .main-discounts__button {
      font-size: 20px;
      width: 50vw;
    }
  }
  @media all and (width <= 450px) {
    .main-container img {
      margin-top: 20px;
    }
    .main-names {
      border: none;
      text-align: center;

      h2 {
        font-size: 20px;
      }
    }
    .main-guards-title {
      font-size: 20px;
      text-align: center;
    }
    .main-guards img {
      margin-top: 20px;
    }
    .main-discounts h2 {
      font-size: 20px;
    }
    .main-footer {
      h1 {
        font-size: 22px;
        text-align: center;
      }
      h4 {
        font-size: 18px;
      }
    }
    .main-header {
      h1 {
        font-size: 28px;
        text-align: center;
      }
    }
  }
  @media all and (width <= 260px) {
    .main-container,
    .main-guards img {
      width: 100%;
    }
    .main-guards-title h1 {
      font-size: 20px;
    }
  }
}
