@use '../scss/variables' as *;

body {
  overflow: visible;
}

.main-blogPage {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: $maxWidth;

  &__title {
    width: 100%;
    font-size: 38px;
    margin-bottom: 60px;

    span {
      color: $yellow;
    }
  }
  &__container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media all and (width <= 840px) {
      grid-template-columns: 1fr;
    }
    column-gap: 80px;
    row-gap: 40px;
  }
  &__item a {
    width: 100%;
    @include setFlex(row, start, none);
    gap: 40px;
    transition: 0.4s;

    &:hover {
      transform: scale(1.05);
    }
    h2,
    p {
      @include setClamp(3);
    }
  }
  .Dokumenty {
    width: 100px;
    height: auto;
  }
  @media all and (width <= 400px) {
    &__container {
      margin: auto;
      width: 95%;
    }
    &__item a {
      flex-wrap: wrap;

      img {
        width: 100%;
        height: auto;
      }
      &:hover {
        transform: scale(1);
      }
    }
    &__title {
      font-size: 28px;
      text-align: center;
    }
  }
}
