@use './variables' as *;

body {
  overflow: visible;
}

//* Kierunki elements
.main-kierunki {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  &__section {
    margin-top: 120px;
    display: flex;
    overflow-x: scroll;
    z-index: 3;
  }
  &__image {
    min-width: 100%;
    max-height: calc(100vh - 120px);
    scroll-snap-align: center;
    z-index: 1;
    object-fit: cover;
  }
  &__title {
    position: absolute;
    margin-top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    h1 {
      font-size: 42px;
      @media all and (width <= 440px) {
        font-size: 28px;
      }
    }
  }
  &__section--box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: $maxWidth;
    @include setFlex(column, none);
    z-index: 2;
    p {
      font-size: 18px;
      @media all and (width <= 800px) {
        font-size: 15px;
      }
    }
    @media all and (width <= 440px) {
      max-width: none;
      width: 100%;
    }
  }

  //* Box end number
  &__box-1 {
    top: calc(100vh - 120px);
  }
  &__box-2 {
    top: calc(200vh - 120px);
  }
  &__box-3 {
    top: calc(300vh - 120px);
  }
  &__button {
    min-width: 280px;
    min-height: 45px;
    @extend %buttonGeneral;
    color: $yellow;
    font-size: 20px;

    &:hover {
      transform: scale(1.1);
    }

    //* Media query
    @media all and (width <= 440px) {
      width: 100%;
      min-width: 0px;
    }
  }
}
