@use '@/app/variables' as *;

.post {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 40px;
  width: min(740px, 95%);
  min-height: 635px;
  @include setFlex(column, flex-start, flex-start);

  &__image {
    width: 100%;
    height: auto;
    max-height: 550px;
    object-fit: cover;
    align-self: center;
  }
  &__date {
    color: $yellow;
    font-weight: bold;
    font-size: 1.2rem;
    @include setFlex(row);
    gap: 5px;

    &::before {
      display: block;
      height: 22px;
      content: url(/calendar.webp);
    }
  }
  &__title {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: $grey;
  }
  &__border {
    width: 100%;
    border: 1px solid $yellow;
  }
  &__content {
    text-indent: 25px;
    margin-bottom: 25px;

    h2 {
      margin: 10px 0px;
    }
    p {
      font-size: 1.2rem;
    }
    a {
      color: $link;
      text-decoration: underline;

      &::after {
        content: ' ↗';
      }
    }
    table,
    tr,
    td {
      border: 1px solid #000;
      border-collapse: collapse;

      p {
        padding-inline: 10px;
        margin-block: 10px;
      }
    }
  }
  &__files {
    @include setFlex(column, flex-start, flex-start);
    gap: 15px;

    a {
      font-size: 1.2rem;
      color: $link;
      text-decoration: underline;

      &::after {
        content: ' ↗';
      }
    }
  }
  &__return {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-end;
    text-decoration: underline;
    cursor: pointer;
  }
}
