@use '@/app/variables' as *;

.tiles {
  margin: auto;
  margin-top: 140px;
  margin-bottom: 60px;
  max-width: $maxWidth;

  &__header {
    margin: auto;
    width: 100%;
    @include setFlex(row, space-between, flex-start);

    @media all and (width <= 1280px) {
      width: 95%;
    }
    @media all and (width <= 520px) {
      justify-content: center;
      text-align: center;
    }
  }
  &__description {
    margin-bottom: 60px;
    max-width: 500px;

    &--title {
      margin: 10px 0px;
      font-size: 2.5rem;
      color: $yellow;
    }
    &--subtitle {
      margin: 0px;
      font-size: 1.2rem;
      color: $grey;
    }
  }
  &__icon {
    user-select: none;

    @media all and (width <= 520px) {
      display: none;
    }
  }
  &__posts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media all and (width <= 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media all and (width <= 840px) {
      grid-template-columns: 1fr;
    }
    gap: 40px;
  }
  &__post {
    margin: auto;
    width: 400px;
    @include setFlex(column, center, flex-start);
    transition: 0.4s scale;

    h3 {
      margin: 5px 0px;
      font-size: 1.6rem;
      @include setClamp(2);
    }

    @media all and (width <= 1050px) {
      &:hover {
        scale: 1.02;
      }
    }
    @media all and (width <= 405px) {
      width: 95%;
    }
  }
  &__date {
    margin: 0px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: $yellow;

    &::before {
      content: url(/calendar.webp);
      width: 16px;
      height: 16px;
      display: block;
    }
  }
  &__image {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    align-self: center;
  }
  &__arrow {
    width: 30px;
    height: auto;
    align-self: flex-end;
  }
}
